@{
    ViewBag.Title = "About";
}

<h1>About The Probability Calculator</h1>

<p>The Probability Calculator is built using ASP.NET MVC framework. The javascript is based on the AngularJS framework. All calculations occur on the client side in the browser.</p>
<p>All calculations data are sent back to the server by posting to the service written in Web Api, so that the information about the calculations are recorded for analysis.</p>
<p>Bootstrap stylesheet is applied to the entire site.</p>
