@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Report Centre</h1>
    <p class="lead">Prepare reports</p>
    <button id="btnPrepareReports" class="btn btn-primary" type="button">Prepare Reports</button>
</div>
