@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Report Centre</h1>
    <p class="lead">Prepare reports</p>
    <button id="btnPrepareReports" class="btn btn-primary" type="button">Prepare Reports</button>
    <p id="status"></p>
    <button id="btnGetTopPerformer" class="btn btn-primary" type="button" disabled>Get Top 100 Performer Report</button>
    <button id="btnGetLowStocker" class="btn btn-primary" type="button" disabled>Get Low Stocker Report</button>
    <p id="report"></p>
</div>
