@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Report Centre</h1>
    <p class="lead">Please prepare the reports. This process will take a while depending on the number to total dealerships.</p>
    <button id="btnPrepareReports" class="btn btn-lg btn-primary" type="button">Prepare Reports</button>
    <p id="total"></p>
    <p class="success"><span id="completedSpan"></span></p>
    <p class="warning"><span id="processingSpan"></span></p>
    <p class="danger"><span id="failedSpan"></span></p>
    <div class="progress">
        <div id="completedBar" class="progress-bar progress-bar-success" role="progressbar" style="width:0%">   
            <span id="completedPcSpan"></span>        
        </div>
        <div id="processingBar" class="progress-bar progress-bar-warning" role="progressbar" style="width:0%">          
        </div>
        <div id="failedBar" class="progress-bar progress-bar-danger" role="progressbar" style="width:0%">        
        </div>
    </div>
    <p id="reportsReady" class="success" hidden="hidden">Reports are ready!</p>
    <button id="btnGetTopPerformer" class="btn btn-lg btn-success" type="button" >Get Top 100 Performer Report</button>
    <button id="btnGetLowStocker" class="btn btn-lg btn-success" type="button" >Get Low Stocker Report</button>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Available Stock</th>
                    <th>Total Sales</th>
                </tr>
            </thead>
            <tbody id="tableContent">
                
            </tbody>
        </table>
    </div>
</div>
